@model List<MVCDemo.ModelViews.ProductDetail>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<h4><a href="@Url.Action("Add", "Product")">Create New Product</a></h4>

<table id="tbldata" class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
            <th>category</th>
            <th>created date</th>
            <th>is active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.product.id</td>
                <td>@item.product.name</td>
                <td>@item.product.price</td>
                <td>@item.category_name</td>
                <td>@item.product.created_date.ToString("dd MMM yyyy")</td>
                <td>@item.product.is_active</td>
                <td><a href="@Url.Action("Edit", "Product", new { id = item.product.id })">EDIT</a> / <a href="javascript:;" onclick="ConfirmDelete(@item.product.id);">DELETE</a></td>
            </tr>
        }
    </tbody>
</table>


<script>
    function ConfirmDelete(id) {
        if (!confirm('Do you want to delete id ' + id + '?'))
            return;

        var url = '@Url.Action("Delete", "Product")';
        var params = {
            id: id
        };

        $.post(url, params, function (data) {
            console.log(data);
            if (data == "OK") {
                location.reload();
            }

        });
    }
</script>




@section scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/datatables.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/b-print-1.6.5/datatables.min.js"></script>

    <script>
        $(function () {
            var table = $('#tbldata').DataTable({
                buttons: [
                    'excel', 'pdf'
                ]
            });

            table.buttons().container().appendTo($('.col-sm-6:eq(0)', table.table().container()));
        })
    </script>
}
